<p class="title">Favorate Authors list</p>
<div fxLayout="row wrap" fxLayoutAlign="center stretch" style="gap: 10px;">
   <app-author *ngFor="let item of items; let i=index" [item]="item" (changeFavarite)="handleaddOrRemoveFromFavorateList($event,i )" ></app-author>
</div>
   <mat-paginator
   (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageIndex]="pageIndex"
    aria-label="Select page">
   </mat-paginator>
