<p class="title">Authors list</p>
   <div *ngIf="isError">
       <P class="error-title">{{error.name}}</P>
      <P class="error-message">{{error.message}}</P>
   </div>
  <ng-container *ngIf="isLoading;then loading ;else loadComplete;"></ng-container>
  <ng-template #loading>
      <p fxLayout="row wrap" fxLayoutAlign="center center"  class="loading">
         loading ...
      </p>
  </ng-template >
  <ng-template #loadComplete>
   <div fxLayout="row wrap" fxLayoutAlign="center stretch" style="gap: 10px;">
   <app-author *ngFor="let item of items; let i=index" [item]="item" (changeFavarite)="handleaddOrRemoveFromFavorateList($event,i )" ></app-author>
   </div>
   <mat-paginator
   *ngIf="items.length && error !==true"
   (page)="handlePageEvent($event)"
    [length]="length"
    [pageSize]="pageSize"
    [showFirstLastButtons]="showFirstLastButtons"
    [pageIndex]="pageIndex"
    aria-label="Select page">
   </mat-paginator>
</ng-template>
 
